# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.BankingCLI.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\DEV\BankingCLI\.idea\.idea.BankingCLI\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
